/* Workspaces module styling */
#workspaces {
    background-color: @color3;
    /* margin: 0px 5px; */
    border-radius: 24px;
  }
  
  #workspaces button {
    background-color: transparent;
    color: @color15;
  }
  
  #workspaces button:hover {
    transition-duration: 100ms;
    padding: 0px 15px;
    color: @color15;
    border-radius: 24px;
  }
  
  #workspaces button.active{
    background-color: @color2;
    transition-duration: 100ms;
    border-radius: 24px;
    padding: 0px 15px;
    transition-property: all;
  }
  
  #workspaces button.focused {
    background-color: @color0;
  }
  
  #workspaces button.urgent {
    background-color: #eb4d4b;
  }