@import url("file:///home/flexksx/.cache/wal/colors-gtk3.css");

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Ubuntu Mono";
  font-size: 16px;
}

/* Overall Waybar styling */
window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: @color15;
  min-height: 30px;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.modules-left {
}
.modules-right {
  background-color: @color14;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.modules-center {
}

/* Focused window styling */
#window {
  transition-duration: 100ms;
  transition-property: all;
  color: @color15;
  padding: 0px 15px 0px 10px;
  background-color: @color6;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Workspaces module styling */
#workspaces {
  background-color: @color3;
  /* margin: 0px 5px; */
  border-radius: 6px;
}

#workspaces button {
  background-color: transparent;
  color: @color15;
}

#workspaces button:hover {
  transition-duration: 100ms;
  padding: 0px 15px;
  color: @color15;
  border-radius: 6px;
}

#workspaces button.active{
  background-color: @color2;
  transition-duration: 100ms;
  border-radius: 6px;
  padding: 0px 15px;
  transition-property: all;
}

#workspaces button.focused {
  background-color: @color0;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

window#waybar.hidden {
  opacity: 0.2;
}

windows#waybar.empty #window {
  background-color: transparent;
}

window#waybar.empty {
  background-color: transparent;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: @color1;
  border-radius: 20px;
  margin: 0 2px;
  color:@color15;
}

#battery {
  background-color: @color2;
  border-radius: 20px;
  margin: 0 2px;
  color: @color15;
}
.plugged {
}
.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}


#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: @color3;
  border-radius: 20px;
  margin: 0 2px;
  color: @color15;
}

#memory {
  background-color: #9b59b6;
}

#disk {
  background-color: #964b00;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

#wireplumber {
  background-color: @color4;
  border-radius: 20px;
  margin: 0 2px;
  color: @color15;
}

#wireplumber.hover {
  background-color: @color4;
  color: @color7;
}

#wireplumber.muted {
  background-color: @color1;
  color: @color7;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: @color12;
  border-radius: 20px;
  margin: 0 2px;
  color: @color15;
}

#temperature.critical {
  background-color: @color7;
  color: @color4;
}

#tray {
  background-color: @color3;
  border-radius: 20px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
