@import url("file:///home/flexksx/.cache/wal/colors-gtk3.css");

window.bar {
  background-color: @color14;
  color: @color15;
  border-radius: 24px;
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: @color5;
}

button:active {
  background-color: @color6;
}

button:hover {
  border-bottom: 3px solid @color12;
}

label {
  font-weight: bold;
}

.workspaces button.focused {
  border-bottom: 3px solid @theme_selected_bg_color;
}

.client-title {
  color: @theme_selected_bg_color;
}

.notification {
  color: yellow;
}

levelbar block,
highlight {
  min-height: 10px;
}

battery {
  background-color: white;
  color: red;
}
